.admin-container {
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  overflow: hidden; /* 이 컨테이너 안의 내용이 넘치면 숨김 */
  margin-left: 80px;
  margin-right: 20px;
}

.admin-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  background-color: white;
  position: fixed;
  margin-left: 80px;
  top: 0;
  left: 0;
}

.office-name {
  font-size: 18px; /* 글씨 크기 */
  font-weight: bold; /* 회사명을 굵게 */
  padding-left: 30px;
}

.person-name {
  font-size: 18px; /* 글씨 크기 */
  color: #000; /* 글씨 색상 */
  padding-right: 50px;
}

.admin-middle {
  display: flex;
  justify-content: space-around;
  width: 100%;
}



/* 공지사항 박스 */
.notice-box {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  margin-left: auto;
}

/* 공지사항 제목 */
.notice-title {
  position: absolute;
  top: 10px; 
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* 공지사항 내용 */
.notice-content {
  margin-top: 50px; /* 제목 아래 여백 */
  font-size: 14px;
}

.user-info-box,
.vehicle-run-box {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  /*padding: 2px;*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: white;
}
.vehicle-status-box{
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  /*padding: 2px;*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.admin-middle-title {
  margin-bottom: 10px; /* 제목과 내용 사이 여백을 줄임 (기존 5px에서 2px로 변경) */
  font-size: 1em; /* 제목 크기 */
  font-weight: bold; /* 제목 굵게 */
}

.admin-middle-content {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  gap: 3px; /* 각 항목 사이의 간격 */
  margin-bottom: 20px;
}

.admin-middle-text {
    padding: 4px; /* 항목 내부 여백 */
    text-align: left; /* 왼쪽 정렬 */
}

.admin-middle-content p {
    margin: 2px 0; /* 항목 사이의 여백을 줄임 (상하 여백 4px) */
}

.user-guide-box {
  width: 100%; /* user-info-box와 vehicle-status-box, vehicle-run-box의 총 길이 */
  height: 95%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 2%;
  align-self: flex-end;
}

.admin-bottom {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative; /* 자식 요소가 이 요소를 기준으로 배치되도록 함 */
  text-align: left; /* 텍스트를 왼쪽 정렬 */
}

.admin-bottom-title {
  position: absolute; /* 부모 요소(.admin-bottom) 내에서 절대적 배치 */
  top: 15px; /* 부모 요소의 상단에서 10px 떨어짐 */
  left: 15px; /* 부모 요소의 왼쪽에서 10px 떨어짐 */
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.operation-status-top {
  display: flex;
}

.year-select {
  padding: 1px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 110px;
  margin-top: 10px;
  height: 30px; /* 원하는 높이로 설정 */
}

.month-select {
  padding: 1px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 10px;
  height: 30px; /* 원하는 높이로 설정 */
}

.custom-line {
  border: none; /* 기본 테두리 제거 */
  height: 1px; /* 선의 두께 */
  background-color: black; /* 선의 색상 */
  width: 100%; /* 선의 너비 */
  max-width: 250px; /* 선의 최대 너비 */
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  margin-left: 20px;
}

.operation-status-middle {
  display: flex;
  justify-content: space-between; /* 자식 요소들 간의 간격을 동일하게 설정 */
}

.operation-number, 
.operation-distance, 
.operation-percentage, 
.month-distance {
  flex: 1; /* 각 요소가 동일한 너비를 차지하도록 설정 */
}

.operation-status-middle-title {
  font-size: 16px;
  font-weight: bold;
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 수평 가운데 정렬 */
  margin: 0; /* 기본 마진 제거 */
  margin-top: 10px;
}

.operation-status-top-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 400px;
}

.op-box {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 */
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
}

.operation-number-count {
  font-size: 30px;
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  color: #6799FF;
}

.op-count {
  margin-left: 5px;
  margin-top: 30px;
  color: #6799FF;
}

.daily-average,
.weekly-average,
.monthly-average {
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  margin-top: 10px;
  margin-left: 20px;
}

.month-distance-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 50px;
}

.a-label-box {
  display: flex; /* Flexbox를 사용해 가로 정렬 */
  justify-content: flex-start; /* 좌측 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 20px;
  padding: 5px;
  margin-left: 10px;
}

.b-label-box {
  display: flex; /* Flexbox를 사용해 가로 정렬 */
  justify-content: flex-start; /* 좌측 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 20px;
  padding: 5px;
  margin-top: 10px;
}

.a-label{
  width: 10px;
  height: 10px;
  border: 1px solid #FF6384;
  background-color: #FF6384;
  margin-right: 5px;
}

.b-label{
  width: 10px;
  height: 10px;
  border: 1px solid #36A2EB;
  background-color: #36A2EB;
  margin-right: 5px;
}

.c-label{
  width: 10px;
  height: 10px;
  border: 1px solid #FFCE56;
  background-color: #FFCE56;
  margin-right: 5px;
}

.label-text {
  font-size: 10px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 20px;
}

.admin-a-box {
  width: 100%; /* 100% 너비에서 250px을 뺌 */
  height: calc(100vh - 70px); /* 100vh 높이에서 70px을 뺌 */
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  margin-top: 60px;
  margin-left: 15px;
}

.admin-b-box {
  width: 100%;
  height: 50%; /* 부모 요소의 높이를 기준으로 100% */
  display: flex; /* Flexbox를 사용해 가로 정렬 */
}

.admin-c-box {
  width: 100%;
  height: 45%;
  margin-top: 10px;
}

.admin-d-box {
  width: 95%;
  height: 100%;
  display: flex;
  margin-right: 10px;
  flex-direction: column; /* 세로 정렬 */
}

.admin-e-box {
  width: 45%;
  height: 100%;
  display: flex;
}

.admin-f-box {
  width: 100%;
  height: 55%;
  display: flex;
}

.admin-g-box {
  width: 100%;
  height: 100%;
  display: flex;
}

.user-guide-box:hover,
.user-info-box:hover,
.vehicle-status-box:hover,
.vehicle-run-box:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변화 */
}