.notice-management {
  background-color: #f3f3f38e;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  overflow: hidden; /* 이 컨테이너 안의 내용이 넘치면 숨김 */
}

.notice-background {
  width: 85%; /* 전체 화면을 사용 */
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  flex-direction: column; /* 세로 정렬 */
  margin-right: 5px;
  margin-left: 14%;
}

.notice-top {
  display: flex;
  justify-content: space-between;
  width: 85%;
  position: fixed;
  margin-top: 10px;
  height: 5%;
}

.notice-top-title {
  font-size: 18px; /* 글씨 크기 */
  font-weight: bold; /* 회사명을 굵게 */
  padding-left: 20px;
}

.create-notice-btn {
  height: 30px;
  border: 2px solid black;
  background-color: #f9f9f9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 13px;
}

.create-notice-btn:hover {
  background-color: #f0f0f0;
}

.notice-a-box {
  width: 98%; /* 100% 너비에서 250px을 뺌 */
  height: 100%;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  margin-top: 60px;
  margin-left: 10px;
}

.notice-b-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
}

.table-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rows-per-page {
  cursor: pointer;
}

.rows-per-page, .search-box {
  padding: 5px;
  border: 2px solid black;
}

.notice-table {
  width: 100%;
  border-collapse: collapse;
}

.notice-table th {
  background-color: rgb(84, 87, 100);
  color: white;
}

.notice-table th, .notice-table td {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}

.notice-table td {
  background-color: white;
}

.notice-delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.notice-delete-btn:hover {
  background-color: #f0f0f0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-btn {
  padding: 5px 10px;
  margin: 0 5px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 14%;
  width: 85%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.notice-modal-content {
  background-color: #f3f3f38e;
  width: 100vw; /* 사이드바를 제외한 너비 */
  height: 100vh; /* 모달 높이 조정 */
  display: flex;
  flex-direction: column;
}

.notice-modal-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.notice-model-header-title {
  font-size: 18px; /* 글씨 크기 */
  font-weight: bold; /* 회사명을 굵게 */
  padding-left: 20px;
}

.notice-close-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-size: bold;
}

.notice-modal-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice-modal-body-box {
  width: 100%;
}

.notice-modal-body-box-title {
  font-weight: bold;
}

.notice-modal-title-box {
  width: 100%;
  display: flex;
}

.notice-modal-title-box-box {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}

.notice-modal-input, .notice-modal-textarea {
  width: 60%;
  margin-bottom: 10px;
}

.notice-modal-input {
  border: none;
  border-bottom: 1px solid black;
  background-color: #f3f3f300;
}

.notice-modal-textarea-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.notice-modal-textarea {
  height: 100% !important;
  resize: none;  /* 사용자가 크기를 조정하지 못하게 */
  border: 2px solid black;
  border-radius: 5px;
}

.notice-detail-content{
  width: 60%;
  height: 100% !important;
  border: 2px solid black;
  border-radius: 5px;
  height: 100%;
  background-color: white;
}

.notice-modal-footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 13%;
  margin-bottom: 2%;
 }

.notice-modal-submit-btn {
  width: 10%;
  height: 36px;
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  margin-left: auto;
}