.sidebar {
  width: 200px;
  background-color: #f8f8f8;
  padding: 20px;
  position: fixed; /* 사이드바를 고정시킴 */
  top: 0;
  left: 0;
  height: 100%; /* 전체 높이 차지 */
}

.company-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-circle {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 auto;
}

.company-name {
  margin-top: 10px;
  font-weight: bold;
}

.menu {
  margin-top: 60px;
}

.menu-item {
  padding: 5px;
  margin: 5px 0;
  background-color: #f8f8f8;
  cursor: pointer;
  text-align: center;
}

.menu-item.selected {
  background-color: #ddd;
  font-weight: bold;
}

.settings-menu {
  margin-top: 150px; /* 기존 메뉴와 간격을 추가 */
}