.usermanagement-container {
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    overflow: hidden; /* 이 컨테이너 안의 내용이 넘치면 숨김 */
    margin-left: 80px;
}

.usermanagement-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    background-color: white;
    position: fixed;
  }

.usermanagement-top-title {
  font-size: 18px; /* 글씨 크기 */
  font-weight: bold; /* 회사명을 굵게 */
  padding-left: 30px;
}

.user-registration {
  width: 100px;
  background-color: white; /* 버튼 배경색 흰색 */
  border: 1px solid #ccc; /* 검은색 테두리 */
  padding: 5px 10px; /* 버튼 안쪽 여백 */
  cursor: pointer; /* 커서 모양 변경 */
  border-radius: 4px; /* 버튼 모서리를 둥글게 */
  color: black;
}

.user-registration:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변화 */
}

.select {
  height: 100%;
  padding: 1px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.search-box {
  margin-left: auto;
  margin-right: 10px;
}

.user-check {
  background-color: white; /* 버튼 배경색 흰색 */
  border: 1px solid #ccc; /* 검은색 테두리 */
  padding: 5px 10px; /* 버튼 안쪽 여백 */
  cursor: pointer; /* 커서 모양 변경 */
  border-radius: 4px; /* 버튼 모서리를 둥글게 */
  margin-left: auto;
  color: black;
}

.user-check:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변화 */
}

.rows-per-page, .search-box {
  padding: 5px;
  border: 1px solid #ccc;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: #F6F6F6;
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-btn {
  padding: 5px 10px;
  margin: 0 5px;
  color: black;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}

.page-btn:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변화 */
}

.usermanagement-a-box {
  width: 98%; /* 100% 너비에서 250px을 뺌 */
  height: calc(100vh - 100px); /* 100vh 높이에서 70px을 뺌 */
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  margin-top: 70px;
  margin-left: 15px;
}

.usermanagement-b-box {
  width: 100%;
  height: 5%; /* 부모 요소의 높이를 기준으로 100% */
  display: flex; /* Flexbox를 사용해 가로 정렬 */
}

.usermanagement-c-box {
  width: 100%;
  height: 85%;
  display: flex; /* Flexbox를 사용해 가로 정렬 */
  flex-direction: column; /* 세로 정렬 */
  margin-top: 10px;
}

.usermanagement-d-box {
  width: 70%;
  display: flex;
}

.usermanagement-e-box {
  display: flex; /* Flexbox를 사용해 가로 정렬 */
  margin-left: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 80%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.close-btn {
  width: 100px;
  height: 36px;
  margin-top: 20px;
  background-color: red;
  color: white;
  border: 1px solid red;
  padding: 5px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  margin-left: 30px;
}

.update-btn {
  width: 100px;
  height: 36px;
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  margin-right: 30px;
}

.close-btn:hover {
  background-color: #ED0000;
}

.update-btn:hover {
  background-color: #f0f0f0;
}
